.profilepage
{  
  width: auto;
  height: 675px;
  margin-left:auto;
  margin-right: auto;
  position: relative;
  border: 0.5px solid #f2f6f8;
  padding: 100px;
  /*z-index: -1*/
} 

  #PhotoDP img{
    position: absolute;
    height: auto;
    left:10%;
    top:23%;
    box-shadow: 6px 6px 1px rgba(49, 49, 49, 0.418);
   }

   #PhotoJS img{
    position: absolute;
    height: auto;
    left:10%;
    top:23%;
    box-shadow: 6px 6px 1px rgba(49, 49, 49, 0.418);
   }
   #PhotoEH img{
    position: absolute;
    height: auto;
    left:10%;
    top:23%;
    box-shadow: 6px 6px 1px rgba(49, 49, 49, 0.418);
   }

   #PhotoRE img{
    position: absolute;
    height: auto;
    left:10%;
    top:23%;
    box-shadow: 6px 6px 1px rgba(49, 49, 49, 0.418);
   }

  .profile_text{
    position: absolute;
    left:  30%;
    font: 2em sans-serif;
    top:22%;
    color: rgb(233, 229, 229);
  }

  .profile_text p{
    padding-right: 25%;
    overflow:auto;
  }
  #panel, #flip {
    display: block;
    position: absolute;
    height: auto;
    max-width: 15.5%;
    left:10%;
    top:64%;
    text-align: center;
    color: mediumblue;
    font: 1.4em sans-serif;
    padding: 5px 5px 5px 5px;
    background-color: #ffa64d;
    border: solid 1px #c3c3c3;
  }
  
  #panel {
    display: block;
    position: absolute;
    height: auto;
    max-width: 15.5%;
    left:10%;
    top:64%;
    font: 1.7em sans-serif;
    padding: 10px 5px 10px 5px;
    display: none;
  }

  #panelJS, #flipJS {
    display: block;
    position: absolute;
    height: auto;
    max-width: 15.5%;
    left:10%;
    top:64%;
    text-align: center;
    color: mediumblue;
    font: 1.4em sans-serif;
    padding: 5px 5px 5px 5px;
    background-color: #ffa64d;
    border: solid 1px #c3c3c3;
  }
  
  #panelJS {
    display: block;
    position: absolute;
    height: auto;
    max-width: 15.5%;
    left:10%;
    top:64%;
    font: 1.7em sans-serif;
    padding: 10px 5px 10px 5px;
    display: none;
  }

  #panelEH, #flipEH {
    display: block;
    position: absolute;
    height: auto;
    max-width: 15.5%;
    left:10%;
    top:64%;
    text-align: center;
    color: mediumblue;
    font: 1.4em sans-serif;
    padding: 5px 5px 5px 5px;
    background-color: #ffa64d;
    border: solid 1px #c3c3c3;
  }
  
  #panelEH {
    display: block;
    position: absolute;
    height: auto;
    max-width: 15.5%;
    left:10%;
    top:64%;
    font: 1.7em sans-serif;
    padding: 10px 5px 10px 5px;
    display: none;
  }

  #panelRE, #flipRE {
    display: block;
    position: absolute;
    height: auto;
    max-width: 15.5%;
    left:10%;
    top:64%;
    text-align: center;
    color: mediumblue;
    font: 1.4em sans-serif;
    padding: 5px 5px 5px 5px;
    background-color: #ffa64d;
    border: solid 1px #c3c3c3;
  }
  
  #panelRE {
    display: block;
    position: absolute;
    height: auto;
    max-width: 15.5%;
    left:10%;
    top:64%;
    font: 1.7em sans-serif;
    padding: 10px 5px 10px 5px;
    display: none;
  }




  #Raghad{
    background: #0868acdf;
  }

  #David{
    background: #7bccc4d7;
  }

  #James{
    background: #4eb4d3df;
  }
  #Edyn{
    background: #2b8dbedf;
  }

  h3{
    font: 2em sans-serif;
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px #084081;
  }


