.profilepage
{  
  width: 100%;
  height: 550px;
  margin-left:auto;
  margin-right: auto;
  position: relative;
  border: 5px solid #f2f6f8;
  padding: 100px;
  /*z-index: -1*/
} 

  .Photo img{
    position: absolute;
    height: auto;
    left:10%;
    top:23%;
    box-shadow: 6px 6px 1px rgba(49, 49, 49, 0.418);
   }


  .profile_text{
    position: absolute;
    left:  28%;
    font: 2em sans-serif;
    top:22%;
    color: rgb(233, 229, 229);
  }

  .profile_text p{
    padding-right: 25%;
    overflow:auto;
  }
  #panel, #flip {
    position: absolute;
    height: auto;
    left:10%;
    top:71%;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
  }
  
  #panel {
    position: absolute;
    height: auto;
    left:10%;
    top:71%;
    padding: 50px;
    display: none;
  }

  #Raghad{
    background: #0868ac;
  }

  #David{
    background: #7bccc4;
  }

  #James{
    background: #4eb3d3;
  }
  #Edyn{
    background: #2b8cbe;
  }

  h3{
    font: 2em sans-serif;
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px #084081;
  }


