.profilepage
{  background: transparent url(../images/torontoskyline2.png) no-repeat;
  width: 860px;
  height: 180px;
  display: grid;
  margin-left:auto;
  margin-right: auto;
  position: relative;
  top: 200px;
  border: 10px solid #e0f3db;}


