.profilepage
{  
  display: block;
  
  width: 90%;
  height: 500px;
  margin-left:auto;
  margin-right: auto;
  position: relative;
  padding: 180px;
  border: 5px solid #f2f6f8;
  z-index: -1}

  .Photo img{
    
    position: absolute;
    height: auto;
    left: 200px;
    top:35%;
    box-shadow: 6px 6px 1px rgb(102, 98, 98);
   }


  .profile_text{
    position: absolute;
    left:  600px;
    font: 2em sans-serif;
    right: 500px;
    top:35%;
    bottom:30%;
    color: rgb(233, 229, 229);
    
    
  }


  

  #Raghad{
    background: #0868ac;

  }
  #David{
    background: #7bccc4;

  }
  #James{
    background: #4eb3d3;

  }
  #Edyn{
    background: #2b8cbe;

  }

  h3{
    font: 2em sans-serif;
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px #084081;
  }


