html
{ height: 100%;}


body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  
  
  color: #555;}

p
{ 
  line-height: 1.7em;
  overflow: auto;
  
}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ color: #362C20;
  letter-spacing: 0em;
  padding: 0 0 5px 0;}

h1, h2, h3
{ font: normal 170% 'century gothic', arial;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #000;}

h2
{ font-size: 160%;
  padding: 9px 0 5px 0;
  color: #009FBC;}

h3
{ font-size: 140%;
  padding: 5px 0 0 0;}

h4, h6
{ color: #009FBC;
  padding: 0 0 5px 0;
  font: normal 110% arial;
  text-transform: uppercase;}

h5, h6
{ color: #888;
  font: normal 95% arial;
  letter-spacing: normal;
  padding: 0 0 15px 0;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #AEB002;}

a:hover
{ text-decoration: none;}


ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}



#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#main{background-image: url(../images/HillShade.jpg) ;}


#header
{ position: relative;
  background: #4b4b4b ;
  height: auto;
  top: 0;
  padding: 2%;
  width: auto;
  }
  /*@media screen and (max-width:560px) {
    #header{
      height: 300px;
    }
  }*/

  #banner
  {  /*background: transparent url(../images/torontoskyline2.png) no-repeat;*/
    width: auto;
    height: 850px;
    display: block;
    background: #7bccc4e3;

    
    }

    
  
    #site_content
    { 
      padding: 0px 0 0px 0;
    }

  
  #intro-content
  { 
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: #575a5a5d; /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
  width: 90%;
  padding: 20px;
  text-align: center;
  height: auto;
  } 
  @media screen and (max-width:560px) {
    #intro-content{
      top: 40%;
      width: 76%;
      overflow: scroll;
      font-family: "arial", sans-serif;
      height: auto;
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: #3738383a; /* Black w/opacity/see-through */
      color: white;
      font-size: 110%;
      font-weight: normal;
      border: 0px solid #f1f1f1;
      box-shadow: 6px 6px 1px rgba(49, 49, 49, 0.418);
      height: 75%;
    }
  }

 /* #intro-content h1{
    font: 2em sans-serif;
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px #084081;
  }

  


  color:#f7f2f2;
  font-family: "arial", sans-serif;
  font-size: 100%;
  text-align: center;
  background: #3738383a;
  padding: 3%;
  box-shadow: 6px 6px 1px rgba(49, 49, 49, 0.418);
  overflow: auto;
  margin: 1%;*/

#logo
{ width: 880px;
  position: relative;
  height: 113px;
  background: transparent;}

#logo #logo_text 
{ position: absolute; 
  top: 10px;
  left: 0;}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0 0 0 9px;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover /* Changed by David @ 12:48 11/17/20 */
{ padding: 22px 0 0 0;
  color: #2b8cbe;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour /* Changed by David @ 12:48 11/17/20 */
{ color: #7bccc4 ;}

#logo_text a:hover .logo_colour
{ color: #FFF;}

#logo_text h2
{ font-size: 120%;
  padding: 4px 0 0 0;
  color: #a8ddb5;}

#menubar
{ top:80%;
  width: 100%;
  right: 20%;
  /*height: 20%;*/
  padding-bottom: 20px;} 

  @media screen and (max-width:560px) {
    #menubar{
      top:120%;
      width: fit-content;
      right: 0%;
      padding-bottom: 20px;
      position: relative;

    }
  }




ul#menu
{ float: right;
  margin: 0;}

  @media screen and (max-width:560px) {
    ul#menu{
      display:grid;
      margin-top: 50px;
      margin-right: 2%;
      margin-left: 2%;
      grid-template-columns: 1fr 1fr;
      padding-left: 0px;
      padding-bottom: 10%;

    }
  }

ul#menu li
{ float: left;
  padding: 0 0 0 0px;
  list-style: none;
  margin: 1px 2px 0 0;
  background: #5A5A5A;}

ul#menu li a
{ font: normal 100% 'trebuchet ms', sans-serif;
  display: block; 
  float: left; 
  height: 20px;
  padding: 6px 35px 5px 28px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
 
  background: #5A5A5A no-repeat 100% 0;} 

ul#menu li.selected a
{ height: 20px;
  padding: 6px 35px 5px 28px;}

ul#menu li.selected
{ margin: 1px 2px 0 0;
  background: #5A5A5A url(tab_selected.png) no-repeat 0 0;}

ul#menu li.selected a
{ 
  color: #FFF;}


ul#menu li.selected a:hover
{ 
  color: #FFF;}

ul#menu li a:hover
{ color: #a8ddb5;}

/* button code adapted from w3schools */
#topreturnBtn {
  /*display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(31, 182, 149); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#topreturnBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

#test {
  Display: none;
}
/* David editing page format 12/01/20 */

#content
{ text-align: left;
  padding: 0 0 0 10px;
  float: left;
  width: 100%;
  }


  .center
  {   
    text-align: center;
    padding-top:3% ;
    padding-bottom: 2%;
    font-size:2em;
    color: #f7fcf0;
     }

     @media screen and (max-width:1100px) {
      .center{
        padding-top:40% ;
      }
    }

/*centers the services page environmental section image */
.pcenter
  {text-align:center;
    columns: 3;
    width: auto;
    height:auto ;
    display: flex;
    margin-top: 2%;
    margin: 2%;
    }
/*Changes the horizontal stack of the columns to a vertical stack when the screen is smaller. Inspired from w3schools.*/
@media screen and (max-width:800px) {
  .pcenter{
    display:block;
    columns:auto;
  }
}
.servicesimg
{
width: 1000px;
position: relative;
margin-left: auto;
margin-right: auto;
 }
.imgresponsive
{max-width: 100%;}
@media screen and (max-width:1000px) {
  .imgresponsive, .servicesimg, #logo {
    width:100%;
  }
}
 .U-Container{
  background: #7bccc4d7;
  width: 100%;
  height: 1000px;
  
 }










 .U-Container p{
  color:#f7f2f2;
  font-family: "arial", sans-serif;
  font-size: 110%;
  text-align: center;
  background: #3738383a;
  padding: 3%;
  box-shadow: 6px 6px 1px rgba(49, 49, 49, 0.418);
  overflow: auto;
  margin: 1%;

 }


 @media screen and (max-width: 800px){
  .U-Container p{
    font-size: 100%;}
 
  }








 .U-Container p:hover{
  color:#f7f2f2;
  font-family: "arial", sans-serif;
  font-size: 1.5em;
  text-align: center;
  background: #3738383a;
  padding: 3%;
  box-shadow: 6px 6px 1px rgba(49, 49, 49, 0.418);
  overflow: auto;
  margin: 1%;
 }

 .S-Container p:hover{
  color:#f7f2f2;
  font-family: "arial", sans-serif;
  font-size: 1.5em;
  text-align: center;
  background: #3738383a;
  padding: 3%;
  box-shadow: 6px 6px 1px rgba(49, 49, 49, 0.418);
  overflow: auto;
  margin: 1%;
 }

 .S-Container{
  background: #4eb4d3dc;
  width: 100%;
  height: 1000px;
 }


/* .break{
  border: 20px solid #444643;
 }*/
 .S-Container p{
  color:#f7f2f2;
  font-family: "arial", sans-serif;
  font-size: 110%;
  text-align: center;
  background: #3738383a;
  padding: 3%;
  margin: 1%;
  overflow: auto;
  box-shadow: 6px 6px 1px rgba(49, 49, 49, 0.418);
  
 }

 @media screen and (max-width: 800px){
  .S-Container p{
    font-size: 100%;
    overflow: scroll;}
 
  }
.contentp1
{float: right;
  padding: 0 25% 0 0;
}

/* David Census image change 11-24 @ 2:10 
.contentp2 {
    float: right;
} */

/* Edyn footer position and text padding change 12-01 */
#footer
{ position: relative;
  bottom:0px;
  width: auto;
  font-family: 'trebuchet ms', sans-serif;
  font-size: 100%;
  height: 10%;
  padding: 1%;
  text-align: center; 
  background: #3B3939 repeat-x;
  color: #A8AA94;}

#footer p
{ line-height: 0.4em;
  padding: 10px 0 5px 0px;}
  @media screen and (max-width:800px) {
    #footer a, span{
      display:none;
      columns:auto;
    }
  }
#footer a
{ color: #A8AA94;

  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: none;}

/*Edyn Drop down bar 12/01 */
/* borrowed from https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp */
/* creates hidden dropdown container */
.dropdown
{ float: left;
  overflow: hidden;}


  

  @media screen and (max-width:1100px) {
    .dropdown button{
      width: 50%;
     padding: 0px 0px 0px 0px;
     white-space: nowrap;
    }
  }


.dropdown .dropbtn {
  
  height: 31px;
  font-size: 86%;
  border: none;
  outline: none;
  color: white;
  width:fit-content;
  padding: 6px 35px 10px 28px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: fit-content;
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
  z-index: 3;
  top: 88%;
}

@media screen and (max-width:1100px) {
  .dropdown-content{
    top: 575%;
    
  }
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*pojects Page*/
    .banner2
  {  
  height: auto;
  background: #7bccc4e3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: inherit;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
    }
    
@media screen and (max-width:1100px) {
  .banner2{
    display:block;
    columns:auto;
  }
}

  
      .Project-Photo img{
        width: 75%;
        position: relative;
        margin-left: 12%;
        margin-right: 12%;
        padding-top: 10%;
        

      }
      
      .ProjectSection{

        background: #1920201a;
        border: 1px solid #e5e5db91;
        margin-left: 1%;
        margin-right: 1%;
      }

      @media screen and (max-width:1380px) {
        .ProjectSection{
          margin-left: 0%;
          margin-right: 0%;
        }
      }



      .ProjectSection:hover{
        
        box-shadow: 6px 6px 1px rgba(49, 49, 49, 0.418);
      }

    
      .project_text p{
        padding-right: 12%;
        padding-left: 12%;
        padding-bottom: 5%;
        text-align: center;
      }

      @media screen and (max-width:1380px) {
        .project_text p{
          font-family: "arial", sans-serif;
          height: auto;
          
          color: white;
          font-weight: normal;
          border: 0px solid #f1f1f1;
          top: 10%;
          text-align: center;
          height: auto;
          padding-right: 12%;
          padding-left: 12%;
          padding-bottom: 12%;
        }
      }


      h6{
        text-align: center;
        color: rgb(236, 232, 232);
        font-weight:800;
        font-size: medium;

      }